body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.profile-container{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    max-width: 1000px;
    width: 1000px;
    text-align: center;
    height: 500px;
}

h2{
    color: #333;
}

.container-nav{
    margin: 0 auto;
    background-color: #f0f0f0;
}

ul.menu{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    max-width: 1000px;
    width: 1000px;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #4caf50;
    overflow: hidden;
    position: Justify;
}

ul.menu li {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3a8a3d;
    text-align: center;
}


ul.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.3px 16px;
    text-decoration: none;
}

ul.menu.stick li a {
    background-color: #333;
}

li a:hover {
    background-color: #3a8a3d;
    border-radius: 10px;
}

.container-nav {
    max-width: 1000px;
    max-height: auto;
    margin: 0 auto;
    border-radius: 8px;
    padding: 0;
}

.container-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    max-width: 1000px;
    width: 1000px;
    text-align: center;

}